@import "variables.scss";

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-left: 20px;
    padding-right: 20px;
}

.phoneInput {
    color: white;
    margin-bottom: 50px;
    font-size: large;
}

.buttonContainer {
    margin-bottom: 20px;
    button {
    }
}
