.inputHeight {
    height: 50vh;
}

.mainInput {
    text-align: center;
    font-size: xx-large;
}

.button {
    width: 60%;
}

.floatingEyeball {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    span {
        font-size: 1.5rem;
        color: #b5b5b5;
    }
}

/* For Webkit browsers (Chrome, Safari) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

/* For Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
