/** Importar aquí las tipografias necesarias de theme.css */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

@import "variables.scss";

/** PrimeFlex Library */
@import "/node_modules/primeflex/primeflex.css";

/** Themes Prearmados de PrimeReact */
// @import "primereact/resources/themes/lara-dark-blue/theme.css";
// @import "primereact/resources/themes/md-dark-indigo/theme.css";
// @import "primereact/resources/themes/soho-dark/theme.css";
// @import "primereact/resources/themes/viva-dark/theme.css";
// @import "primereact/resources/themes/vela-blue/theme.css";
// @import "primereact/resources/themes/arya-blue/theme.css";

body {
  font-family: var(--font-family);
}

.cris-height-08 {
  height: 60vh;
}

.cris-title {
  font-size: x-large;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center; 

  height: 60px;
  color: var(--primary-color-text);
  background-color: var(--primary-color);
}
